[submodule "external/wlroots"]
	path = external/wlroots
	url = https://github.com/Shelnutt2/wlroots.git
	branch = android-0.19.2
[submodule "external/virglrenderer"]
	path = external/virglrenderer
	url = https://github.com/Shelnutt2/virglrenderer.git
	branch = android-v1.1.0
[submodule "external/proot"]
	path = external/proot
	url = https://github.com/Shelnutt2/proot.git
	branch = android
